
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Ubuntu&display=swap');


*{
    margin: 0;
    padding: 0;
}


body{
  background-color: antiquewhite;
}

nav{
    font-family: 'Ubuntu',sans-serif;
}
nav ul {
    display: flex;
    list-style-type: none;
    height: 45px;
    background-color: rgb(0, 0, 0);
    color: azure;
    align-items: center;
}

.brand img{
    width:28px;
    padding: 0 8px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

nav ul li {
    padding: 0 12px;

}
.container{
min-height:75vh;
background-color: black;
color: rgb(17, 231, 17);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
margin: 23px auto;
/* width: 70px; */
border-radius: 20px;
padding: 2px;
background-image: url(https://i.ytimg.com/vi/5z_SPHwspo8/maxresdefault.jpg);

}
.bottom{
    position: sticky;
    height :100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;


}
.icons{
    margin-top: 14px;
    
}
.icons i {
    cursor: pointer;
}

#myProgessBar{
    /* text-align: center; */
    width: 80vw;
    text-align: center;
    

}


.songItem{
  height: 50px;
  display: flex;
  background-color: aliceblue;
  width: 80%;
  color:#000000;
  margin :12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
}

.songItem img{
  width: 23px;
  margin-left: 12px;
  /* margin-left: 5px; */
  
}
.songListPlay{
    margin-left: 120px;
}

.timestamp {
    border-radius: 34px;
  
}

.fa-solid {
    cursor: pointer;
}

.songInfo{
   position: absolute;
   left: 10vw;
   font-family:inherit;
}


.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in;
}